* {
  all: unset;
  font-size: 14px;
  font-family: "Roboto";
  transition: 200ms;
}

.blank-window {  
  background: transparent;  
}
  
/* CONTROL CENTER ------------------------------------------------------------------------ */

.control-center {
  background: @bg_full_t;
  border-radius: 2px;
  border: 1px solid @border;
  padding: 12px;
  margin: 0 0 5px 0;
}

/* Notifications  */
.control-center .notification-row .notification-background,
.control-center .notification-row .notification-background .notification.critical {
  background-color: @bg;
  border-radius: 2px;
  margin: 3px 0px;
  padding: 6px;
  border: 1px solid @border;
  box-shadow: 0px 0px 7px rgba(26, 26, 26, 0.93);
}

.control-center .notification-row .notification-background .notification.critical {
  color: rgb(255, 0, 0);
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 6px;
  padding: 8px 6px 2px 2px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  background: alpha(@selected, .6);
  color: @text;
  border-radius: 4px;
  margin: 6px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background: @selected;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @selected;
}

/* Buttons */

.control-center .notification-row .notification-background .close-button {
  background: transparent;
  border-radius: 6px;
  color: @text;
  margin: 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @selected;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: @selected;
}

progressbar,
progress,
trough {
  border-radius: 12px;
}

progressbar {
  background-color: rgba(255,255,255,.1);
}

/* Notifications expanded-group */

.notification-group {
  margin: 2px 8px 2px 8px;

}
.notification-group-headers {
  font-weight: bold;
  font-size: 1.25rem;
  color: @text;
  letter-spacing: 2px;
}

.notification-group-icon {
  color: @text;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: @text;
  margin: 4px; 
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @selected;
}  

/* WIDGETS --------------------------------------------------------------------------- */

/* Power Options Dropdown */
.power-buttons{
  background-color: @bg;
  margin: 8px;
  border-radius: 2px;
  box-shadow: 0px 0px 7px rgba(26, 26, 26, 0.93);
}

.power-buttons>button {
  background: transparent;
  border: none;
  padding: 10px;
}

.power-buttons>button:hover {
  background: @bg1;
}

.widget-menubar>box>.menu-button-bar>button{
  border: none;
  background: transparent;
}

/* Notification clear button */
.widget-title {
  font-size: 1.2em;
  padding: 6px;
  margin: 10px 10px 5px 10px;
}

.widget-title button {
  background: @bg1;
  border: 0px solid @border;
  border-radius: 2rem;
  padding: 6px 16px;
  min-height: 25px;
  min-width: 75px;
  box-shadow: 0px 0px 7px rgba(26, 26, 26, 0.93);
}

.widget-title button:hover {
  background: @bg2;
}

.widget-title button:active {
  background: @selected;
}

  /* Do not disturb */
.widget-dnd {
  padding: 6px;
  margin: 10px 10px 5px 10px;
  font-size: 1.2rem;
}

.widget-dnd > switch {
  background: @bg1;
  font-size: initial;
  border-radius: 2rem;
  box-shadow: none;
  padding: 6px;
  border: 0px solid @border;
  min-height: 25px;
  min-width: 75px;
  box-shadow: 0px 0px 7px rgba(26, 26, 26, 0.93);
}

.widget-dnd > switch:hover {
  background: @bg2;
}

.widget-dnd > switch:checked {
  background: @red_base;
  border: 0px solid @red_bright;
}

/* .widget-dnd > switch:checked:hover { */
/*   background: @hover; */
/* } */

.widget-dnd > switch slider {
  background: @text;
  border-radius: 2rem;
}

  /* Buttons menu */
.widget-buttons-grid {
  font-size: 30px;
  padding: 6px;
  margin: 0px 10px 5px 10px;
  border: solid 0px @border;
  border-radius: 2px;
  background: @bg;
  box-shadow: 0px 0px 7px rgba(26, 26, 26, 0.93);
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  background: @bg1;
  border: solid 0px @border;
  border-radius: 2rem;
  margin: 10px;
  color: @text; 
  font-size: 14px;
  min-height: 35px;
  min-width: 60px;
  padding: 5px;
  font-weight: 500;
  box-shadow: 0px 0px 7px rgba(26, 26, 26, 0.93);
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @bg2;
}

  /* Music player */
.widget-mpris {
  border-radius: 2px;
  color: @text;
  margin: 10px 10px 5px 10px;
  box-shadow: 0px 0px 7px rgba(26, 26, 26, 0.93);
}

  /* NOTE: Background need *opacity 1* otherwise will turn into the album art blurred  */
.widget-mpris-player {
    /*border-radius: 10px;*/
  opacity: 1.0;
  background: none;
}

.widget-mpris > box > button {
    color: @text;
    border-radius: 4px;
}
 
.widget-mpris button {
  color: @text;
}

.widget-mpris button:hover {
  color: @red_bright;
}

.widget-mpris-album-art {
  border-radius: 2px;
  margin: 10px;
}
 
.widget-mpris-title {
  font-weight: 700;
  font-size: 1rem;  
  text-shadow: 1px 1px 2px #000000;
}
 
.widget-mpris-subtitle {
  font-weight: 500;
  font-size: 0.8rem;
  text-shadow: 1px 1px 2px #000000;
}

/* Volume */
.widget-volume {
  background: @bg;
  color: @text;
  padding: 6px;
  margin: 10px 10px 5px 10px;
  border-radius: 2px;
  min-height: 27px;
  box-shadow: 0px 0px 7px rgba(26, 26, 26, 0.93);
  /* border: 1px solid @border; */
}

/* .widget-volume box { */
/*   padding: 12px; */
/* } */

.widget-volume icon {
  font-size: 2rem;
  color: @text;
}

.widget-volume scale trough {
  border-radius: 8px;
  min-height: 8px;
  margin: 12px;
  background: @bg1;
}

.widget-volume scale slider,
.widget-volume scale highlight {
  background: @green_bright;
  border-radius: 2rem;
}

/* Brightness */
.widget-backlight{
  background: transparent;
  color: @text;
  margin: 6px;
  padding: 6px;
  border-radius: 2rem;
  min-height: 27px;
  /* border: 1px solid @border; */
}

.widget-backlight box {
  padding: 12px;
}

.widget-backlight icon {
  font-size: 2rem;
  color: @text;
}

.widget-backlight scale trough {
  border-radius: 8px;
  min-height: 8px;
  margin: 12px;
  background: @foreground;
}

.widget-backlight scale slider,
.widget-backlight scale highlight {
  background: @selected;
  border-radius: 2rem;
}
