@import '/home/chin/system_colors.css';

* {
  font-family: JetBrainsMono;
  color: @text;
  background: transparent;
}

#window {
  background: @bg_full_t;
  margin: auto;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid @border;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 30px;
}

#entry:selected {
  padding: 1rem 0 1rem 0;
  margin: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.12); /* borde suave */
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.15), 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: all 0.26s ease;
}

#text {
  margin: 2px;
}
